.button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10, 0.0 , 0 , 2 );
    -fx-transition: all 0.3s;
}

.button:hover {
    -fx-background-color: #45a049; /* Darker green */
    -fx-cursor: hand;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 20, 0.0 , 0 , 4 );
}

.slider .thumb {
    -fx-pref-height: 20px;
    -fx-pref-width: 10px;
}

.slider .axis { 
    -fx-tick-label-fill: black;  
}


